<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org">
<head
   th:replace="common/head :: head_fragment(title = 'ウォーターサーバー情報詳細', scripts = ~{::script}, links = ~{::link})"></head>
<body>
   <div class="container">
       <h1>ウォーターサーバー情報詳細</h1>
       <div th:object="${server}">
           <div class="row mx-md-n5">
               <div class="col-2 pt-3 border bg-light">サーバー名</div>
               <div class="col pt-3 border">
                   <p th:text="*{serverName}"></p>
               </div>
           </div>
           <div class="row mx-md-n5">
               <div class="col-2 pt-3 border bg-light">メーカー</div>
               <div class="col pt-3 border">
                   <p th:text="*{maker}"></p>
               </div>
           </div>
           <div class="row mx-md-n5">
               <div class="col-2 pt-3 border bg-light">値段</div>
               <div class="col pt-3 border">
                   <p th:text="*{price}"></p>
               </div>
           </div>
       </div>
       <br />
       <div class="text-center">
           <a th:href="@{/wts/{id}/edit(id=*{id})}" class="btn btn-primary">編集</a>
           <a th:href="@{/wts/{id}/delete(id=*{id})}" class="btn btn-secondary">削除</a>
           <a href="/wts/list" class="btn btn-secondary">一覧に戻る</a>
       </div>
   </div>
</body>
</html>
