
.a1 {
  background-color: #efce7a;
  width: 400px;
  height: 100px;
}

.a2 {
  background-color: #9dddf4;
  width: 150px;
  height: 250px;
  float: left;
}

.a3 {
  background-color: #c2ffc8;
  width: 150px;
  height: 50px;
  float: left;
}

.a4 {
  background-color: #f89c9c;
  width: 100px;
  height: 150px;
  float: left;
}

.a5 {
  background-color: #FFc2c5;
  width: 150px;
  height: 100px;
  float: left;
}
.a6 {
  background-color: #FFF083;
  width: 250px;
  height: 100px;
  float: left;
}
.a7 {
  background-color: #BEA5FF;
  width: 400px;
  height: 100px;
  float: left;
}

.oya {
  width: 150px;
  height: 150px;
  float: left;
}
.clearfix {
  width: 400px;
  height: 450px;
}