.wrapper{
  width: 400px;
  height: 450px;
}
.header{
  background-color: #ffce7a;
  width: 400px;
  height: 100px;
  float: left;
}
.oyabox{
  background-color: white;
  width: 160px;
  height: 60px;
  margin: 20px 0 0 210px  ;
}
.kobox{
  background-color: #c2ffcb;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
.kobox2{
  background-color: #c2ffcb;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0%;
  margin-right: 10px;
  float: left;
}
.kobox3{
  background-color: #c2ffcb;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 10px;
  float: left;
}
.left{
  background-color: #9dddf4;
  height: 250px;
  width: 150px;
  float: left;
}
.right{
  background-color: #c2ffcb;
  height: 250px;
  width: 250px;
  float: left;
}
.box1{
  background-color: white;
  height: 50px;
  width: 150px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 60px;
  float: left;
}
.inbox1{
  background-color: #ffc2c5;
  height: 40px;
  width: 140px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.box2{
  background-color: white;
  height: 50px;
  width: 150px;
  margin-top: 6.6px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 60px;
  float: left;
}
.inbox2{
  background-color: #ffc2c5;
  height: 40px;
  width: 140px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.box3{
  background-color: white;
  height: 50px;
  width: 150px;
  margin-top: 6.6px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 60px;
  float: left;
}
.inbox3{
  background-color: #ffc2c5;
  height: 40px;
  width: 140px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.footer{
  background-color: #bea5fe;
  width: 400px;
  height: 100px;
  float: left;
}

